@import url('https://fonts.cdnfonts.com/css/monofonto');

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'monofonto', sans-serif;
    
}


mark{
    color: white;
    background-color: black;
    
}
html{
    background: #2bcc33;
    background: linear-gradient(180deg,rgba(43, 204, 51, 1) 0%, rgba(41, 128, 48, 1) 50%, rgba(0, 0, 0, 1) 100%);
}
body{
    background-color: white;
    margin: auto;
    width: 80%;
    border: 1px black solid;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

footer{
    border-top: 1px black solid;
    margin-top: 2rem;
}
header{
    border-bottom: 1px black solid;
    margin-bottom: 2rem;
}